*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  color: rgb(22, 22, 22);
  background-color: #ffffea;
  overflow-x: hidden;
  line-height: 2rem;
}

a {
  color: rgb(22, 22, 22);
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

section {
  margin: 50px 0;
}

.title {
  padding: 1rem 0;
  h2 {
    text-align: center;
    margin: 2rem 0 3rem;
  }
  img {
    width: 100%;
  }
}

.container {
  padding: 1rem 1.5rem;
}

$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;