$colors: (
  "links": #fafafa,
  "light-grey": #faf5ef,
  "medium-grey": #d7d1c9,
  "font": #eeeeee,
  "background": #4d4b3d,
);

$gris-plata: #8a9597;
$gris-plata-claro: #b0b8b9;

$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  color: map-get($colors, "font");
  background-color: map-get($colors, "background");
  overflow-x: hidden;
  line-height: 2rem;
}


main {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  margin: 50px 0;
}

.title {
  padding: 1rem 0;
  h2 {
    text-align: center;
    margin: 2rem 1rem 3rem;
  }
  img {
    width: 100%;
  }
}

.container {
  padding: 1rem 1.5rem;
}

a {
  color: map-get($colors, "links");
  text-decoration: none;
}