// General Settings
@import "general";
// -------------------------------------------------------------------------------------------------
// Navigator

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
  }

  .moon {
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 9;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    background: rgba(255, 255, 234, 0.8);
    transform: translateX(100%);
    transition: transform 0.6s ease-in 0.1s;
    text-align: center;
    list-style-type: none;

    li {
      padding: 1rem 0;
      cursor: pointer;
    }
    li:first-child {
      margin-top: 84px;
    }
    li:hover {
      background: rgba(255, 255, 217, 0.9);
      border-left: none;
      border-right: none;
      font-size: 1.1rem;
    }
  }
}

nav .nav-active {
  transform: translateX(-0%);
}

// Hero

#hero {
  padding: 0.8rem 0.5rem;
  background: rgb(250, 250, 213);
  height: 90vh;
  width: 100%;
  background-image: url("../static/astrounaunt-moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -9;
  blockquote {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fafafa;
    background: rgba(0, 0, 0, 0.7);
  }
}

// Phases

#phases {
  background-color: #fff2a6;
  ol {
    list-style-type: none;
    li {
      margin: 2rem 0 1.5rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}

// Eclipse

#eclipse {
  background: rgb(255, 219, 212);
}

// Culture

#culture {
  background: rgb(248, 249, 252);
  hr {
    width: 75%;
    margin: 2rem auto;
  }
}

// Galery

#galery {
  background: rgb(246, 239, 255);
  text-align: center;
  padding: 0 2rem 1rem;
  h2 {
    margin: 2rem 0;
  }
}

.slidershow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .slides {
    width: 400%;
    height: 100%;
    display: flex;

    #r1:checked ~ .s1 {
      margin-left: 0;
    }
    
    #r2:checked ~ .s1 {
      margin-left: -25%;
    }
    #r3:checked ~ .s1 {
      margin-left: -50%;
    }
    #r4:checked ~ .s1 {
      margin-left: -75%;
    }

    .slide {
      width: 25%;
      transition: 0.6s;
      & img {
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 840px;
      }
    }
    input[name=r] {
      position: absolute;
      visibility: hidden;
    }
  }
  .navigation {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    label.bar {
      height: 25px;
      width: 35px;
      border: 1px solid #fff2a6;
      margin: 15px;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        background: #fff2a6;
      }
    }
  }
}

// Footer

footer {
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 2rem 2rem;
  }
}
