*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  color: #eeeeee;
  background-color: #4d4b3d;
  overflow-x: hidden;
  line-height: 2rem;
}

main {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  margin: 50px 0;
}

.title {
  padding: 1rem 0;
}

.title h2 {
  text-align: center;
  margin: 2rem 1rem 3rem;
}

.title img {
  width: 100%;
}

.container {
  padding: 1rem 1.5rem;
}

a {
  color: #fafafa;
  text-decoration: none;
}

nav {
  height: 20vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

nav .logo a {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

nav .moon {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
  width: 64px;
  height: 64px;
  z-index: 9;
}

nav .nav-links {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  background-color: rgba(77, 75, 61, 0.7);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s ease-in 0.1s;
  transition: -webkit-transform 0.6s ease-in 0.1s;
  transition: transform 0.6s ease-in 0.1s;
  transition: transform 0.6s ease-in 0.1s, -webkit-transform 0.6s ease-in 0.1s;
  text-align: center;
  list-style-type: none;
  z-index: 8;
}

nav .nav-links li {
  padding: 1rem 0;
  cursor: pointer;
}

nav .nav-links li:first-child {
  margin-top: 84px;
}

nav .nav-links li:hover {
  background-color: rgba(20, 20, 16, 0.9);
  border-left: none;
  border-right: none;
  font-size: 1.1rem;
}

nav .nav-active {
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#hero {
  height: 65vh;
  width: 100%;
  background-image: url("../static/astrounaunt-moon.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: -9;
}

#hero blockquote {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#phases ol {
  list-style-type: none;
}

#phases ol li {
  margin: 2rem 0 1.5rem;
}

#phases ol li h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

#culture hr {
  width: 75%;
  margin: 2rem auto;
}

#galery {
  text-align: center;
  padding: 0 2rem 1rem;
}

#galery h2 {
  margin: 2rem 0;
}

.slidershow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slidershow .slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidershow .slides #r1:checked ~ .s1 {
  margin-left: 0;
}

.slidershow .slides #r2:checked ~ .s1 {
  margin-left: -25%;
}

.slidershow .slides #r3:checked ~ .s1 {
  margin-left: -50%;
}

.slidershow .slides #r4:checked ~ .s1 {
  margin-left: -75%;
}

.slidershow .slides .slide {
  width: 25%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slidershow .slides .slide img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 840px;
}

.slidershow .slides input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slidershow .navigation {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slidershow .navigation label.bar {
  height: 25px;
  width: 35px;
  border: 1px solid #fff2a6;
  margin: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slidershow .navigation label.bar:hover {
  background: #fff2a6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  padding: 0 2rem 2rem;
}
/*# sourceMappingURL=styles.css.map */