// General Settings

*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  color: rgb(22, 22, 22);
  background-color: #ffffea;
  overflow-x: hidden;
}

a {
  color: rgb(22, 22, 22);
  text-decoration: none;
}

main {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}

section {
  margin-bottom: 100px;
}

.title {
  font-size: 1.5em;
  text-align: center;
  padding: 2em 0 1.5em;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-mobile {
  flex-direction: column;
  align-items: center;
}

// -------------------------------------------------------------------------------------------------

// Navigator

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  .logo {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
  }

  .moon {
    width: 64px;
    height: 64px;
    cursor: pointer;
  }

  .nav-links {
    @include center-mobile;
    position: absolute;
    top: 74px;
    right: 0;
    background: rgba(255, 255, 234, 0.8);
    display: flex;

    list-style: none;
    width: 50%;
    height: 100vh;
    transform: translateX(110%);
    transition: transform 0.8s ease-in 0.1s;
    li {
      width: 100%;
      padding: 1em;
      text-transform: uppercase;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li:hover {
      background: rgba(255, 255, 234, 0.9);
      font-weight: 600;
    }
  }
}

nav .nav-active {
  transform: translateX(-0%);
}

// Hero

#hero {
  @include center-mobile;
  padding: 1em;
  background: rgb(250, 250, 213);
  text-align: center;
  img {
    margin: 20px 0;
  }
  p {
    font-weight: 500;
    font-size: 1.2em;
  }
}

// Phases

#phases {
  @include center-mobile;
  background-color: #fff2a6;
  margin-bottom: 100px;

  ol {
    padding: 1em;
    list-style-type: none;
    li {
      margin: 20px 0;
      h3 {
        font-size: 1.4em;
        margin: 3em 0 1.5em;
        text-align: center;
      }
      p {
        line-height: 2em;
      }
    }
  }
}

// Eclipse

#eclipse {
  @include center-mobile;
  background: rgb(255, 219, 212);
  .container {
    p {
      padding: 2em 1em;
      line-height: 2em;
    }
  }
}

// Galery

#galery {
  img {
    height: 500px;
    object-fit: contain;
  }
}

// Culture

#culture {
  @include center-mobile;
  background: rgb(248, 249, 252);
  .container {
    padding: 1em;
    p {
      padding: 1.5em 1em;
      line-height: 1.5em;
    }
  }
}

// Footer

footer {
    @include center-mobile;
    p {
        text-align: center;
        font-size: .9em;
        padding:  0 2em 2em;
    }
}

